



@mixin button-yellow-idle {
    border-color:#dea300;
    background-color:#feba00;
    box-shadow: 0 1px 1px #fde091 inset, 0 -1px 4px rgba(255, 255, 255, 0.05) inset;
}

@mixin button-yellow-hover {
    border-color:#c69100;
    background-color:#e99f00;
    box-shadow: 0 1px 1px #f8d991 inset, 0 -1px 4px rgba(255, 255, 255, 0.05) inset;
}

@mixin button-yellow-active {
    border-color:#dd8b17;
    background-color:#e39000;
    box-shadow: 0 3px 6px #aa6a01 inset, 0 -1px 4px rgba(0, 0, 0, 0.05) inset;
}

@mixin button-disabled {
    color:rgba(0, 0, 0, 0.5);
    border-color:#d5d5d5;
    background-color:#e3e3e3;
    box-shadow: 0 1px 1px #f8f6ee inset, 0 -1px 4px rgba(255, 255, 255, 0.05) inset;
    cursor:default;
}

@mixin button-custom-1 {
    background-position:center center;
    background-repeat:no-repeat;
    width:30px;
    height:28px;
    padding:0px;
    vertical-align:middle;
}

@mixin button-custom-2 {
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    font-size:36px;
    line-height:28px;
    text-align:center;
}

a.button {
    text-decoration:none;
    color:#000000;
    text-shadow: 0 1px rgba(255, 255, 255, 0.35);
}

.button, button {

    /* Default button */
    height:36px;
    line-height:36px;
    padding:0px 13px;
    display:inline-block;
    border-radius:3px;
    cursor:pointer;
    vertical-align:middle;
    margin-bottom:5px;
	box-shadow: -1px 1px 1px 0px #dff2f8 inset;
	border:solid 1px #92cce0;
	background-color:#d2ecf5;
	
	
    @include transitions(background-color, 0.3s);

    &:hover {
		
		box-shadow: -1px 1px 1px 0px #dff2f8 inset;
		border-color:#59aeca;
		background-color:#9fdbf0;
    }

    &:focus,
    &:active {
		
		box-shadow: -1px 1px 1px 0px #3a220b inset, 0px 4px 4px 0px #11627c inset;
		box-shadow: -1px 1px 4px 0px rgba(58,34,11,0.2) inset, 0px 4px 4px 0px rgba(17,98,124,0.5) inset;
		border-color:#22a4ce;
		background-color:#24b0dd;
    }


    /*  Primary button */ 
    &.primary {

        @include button-yellow-idle;

        &:hover {
            @include button-yellow-hover;
        }

        &:active,
        &:focus {
            @include button-yellow-active;
        }

        &.disabled {
            @include button-disabled;
        }
    }


    /* Expand button */ 
    &.expand {

        background-image:url(../img/button-icon-expand.png);
        @include button-yellow-idle;

        &:hover {
            @include button-yellow-hover;
        }

        &:active,
        &:focus {
            @include button-yellow-active;
        }

        @include button-custom-1;
        position: relative;

        span {
            @include button-custom-2;
        }

        &.small {
            width: 22px;
            height:22px
        }
    }


    /* Collapse button*/ 
    &.collapse{

        background-image:url(../img/button-icon-collapse.png);
        @include button-yellow-idle;

        &:hover {
            @include button-yellow-hover;
        }

        &:active,
        &:focus {
            @include button-yellow-active;
        }

        @include button-custom-1;
        position: relative;

        span {
            @include button-custom-2;
        }

        &.small {
            width: 22px;
            height: 22px;

            span {
                font-size: 25px;
                line-height: 22px;
            }
        }
    }

    /* Up button */
    &.up {
        background-image:url(../img/button-icon-up.png);
        @include button-yellow-idle;

        &:hover {
            @include button-yellow-hover;
        }

        &:active,
        &:focus {
            @include button-yellow-active;
        }

        @include button-custom-1;

        span {
            display:none;
            background-position:center center;
            background-repeat:no-repeat;
        }
    }

    /* Back button */
    &.back {
        background-image:url(../img/button-icon-back.png);
        @include button-yellow-idle;

        &:hover {
            @include button-yellow-hover;
        }

        &:active,
        &:focus {
            @include button-yellow-active;
        }

        @include button-custom-1;

        span {
            display:none;
            background-position:center center;
            background-repeat:no-repeat;
        }
    }


    /* Blue plus button */
    &.blueplus {
        line-height:24px;
        width:24px;
        height:24px;
        border:none;
        padding:0px;
        margin:0px 0px 5px 0px;
        display:inline-block;
        background:none;
        background-image:url(../img/button-blueplus-sprite.png);
        background-repeat:no-repeat;
        background-position:left center;
        vertical-align:middle;
        box-shadow:none;
		transition: all 0s ease 0s;
		
        &:hover {
            background-position:right center;
			transition: all 0s ease 0s;
        }

        &:focus,
        &:active {
            background-position:center center;
			transition: all 0s ease 0s;
        }

        span {
            display:none;   
        }
    } 

    &.small {
        height:22px;
        line-height:22px;
        padding:0px 9px;
    }

    &.small.print {
        padding-left: 30px;
        @include background-image("print-icon.png");
        background-repeat: no-repeat;
        background-position: 5px center;
    }

    &.small.excel {
        padding-left: 30px;
        background-image: url('../img/excel-icon.png');
        background-repeat: no-repeat;
        background-position: 5px center;
    }

    &.small.pdf {
        padding-left: 30px;
        background-image: url("../img/pdf-icon.png");
        background-repeat: no-repeat;
        background-position: 5px center; 
    }


    &.disabled,
    &:disabled,
    &[disabled] {
        @include button-disabled;
    }



}


button.button,
input.button {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}



button {

	&.small
	{
		height:24px;
	}
	
    &.link {
        display: inline;
        background: none;
        border: none;
        margin: 0px;
        padding: 0px;
        line-height: inherit;
        font-size: inherit;
        font-family: inherit;
        color: #149dca;
		box-shadow:none;
		border-radius:none;

        span {
            padding: 0px;
            margin: 0px;
            background: none;

            span {
                line-height: inherit;
                height: auto;
                left: 0px;
                padding: 0px;
                margin: 0px;
                background: none;
            }
        }
    }

	&.edit-link
	{
        display: inline;
        background: none;
        border: none;
        margin: 0px;
        padding: 0px;
        line-height: inherit;
        font-size: inherit;
        font-family: inherit;
		font-weight:bold;
        color: #0c566e;
		box-shadow:none;
		border-radius:none;

        span {
            padding: 0px;
            margin: 0px;
            background: none;

            span {
                line-height: inherit;
                height: auto;
                left: 0px;
                padding: 0px;
                margin: 0px;
                background: none;
				
				&:before
				{
					content: '';
					display:inline-block;
					vertical-align:middle;
					width:20px;
					height:21px;
					@include background-image("edit-link-sprite.png");
					margin-right:6px;
				}
            }
        }
	}
}



.remove {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    border: none;
    background-image: url('../img/remove-sprite_idle-hover-selected-disabled.png');
    background-position: 0px center;
	background-color:transparent;
    overflow: hidden;
    color: transparent;
	box-shadow:none;
	transition: all 0s ease 0s;

    &:hover {
        background-position: -24px center;
		transition: all 0s ease 0s;
		background-color:transparent;
		box-shadow:none;
    }

    &:focus,
    &:active {
        background-position: -48px center;
		transition: all 0s ease 0s;
		background-color:transparent;
		box-shadow:none;
    }

    &:disabled {
        background-position: -72px center;
		transition: all 0s ease 0s;
		background-color:transparent;
		box-shadow:none;
    }

    span {
        display: none;
    }
}



.plainBtn {
    cursor: pointer;
    @include transitions(text-decoration, 0.3s);
    @include transitions(font-weight, 0.3s);

    &:hover {
        text-decoration: underline;
        font-weight: bold;
    }
}
