@media screen {

    .hide-in-print{
    }

    .show-only-in-print{
        display: none;
    }

}

@media print {

    #siteheader, #sitefooter {
        display: none;
    }

    #raamit-container {
        width: 100%; 
        margin: 0;
    }
    
    .hide-in-print{
        display: none;
    }

    .show-only-in-print{
    }

    @page {
        margin: 0.5cm;
    }

}